* {
    margin: 0;
}

body {
    background-color: rgb(115, 164, 255);
    padding-bottom: 50px;
}

.nav {
    position: fixed;
    width: 100vw;
    display: flex;
    background-color: rgb(11, 55, 85);
    justify-content: space-between;
    z-index: 10;
    
}

.nav-button {
    margin-top: 3px;
    margin-right: 5px;
}

#Name {
    font-family: 'Bradley Hand', 'Times New Roman', Times, serif;
    color: blueviolet;
}

.button {
    border: 0;
    background-color: rgb(11, 55, 85);
    border-radius: 5px;
    color: blueviolet;
}

.button:hover {
    background-color: rgb(19, 98, 151);
    box-shadow: inset;
    color: blueviolet;
}

#video {
    width: 100vw;
    margin-top: 2.7vw;
}

#mad {
    display: flex;
    justify-content: center;

}

s {
    margin: 10px;
    transition: ease-in-out 4s;
}

s:hover {
    transform: rotate(5960deg);
}


hr {
    border-color: rgb(92, 92, 241);
}

input{
  background-color:rgb(102, 102, 230) ;
}
textarea{
    background-color:rgb(102, 102, 230) ;
}

.order{
display: grid;
grid-template-rows: 5vh 5vh 5vh 5vh 5vh 5vh 5vh 5vh 5vh 5vh;
grid-template-columns: 20vw 30vw;
gap: 5px;
}
label{
    font-family:'Bradley Hand', 'Times New Roman', Times, serif;
}
.subb{
    font-family:'Bradley Hand', 'Times New Roman', Times, serif;
    border-color: rgb(66, 0, 128);
}

input {
    border-radius: 20px;
    color: rgb(114, 0, 221);
    border: 0;
}
input::placeholder{
    color: rgb(114, 0, 221);
}
textarea{
    border-radius: 20px;
}
textarea::placeholder{
    color:rgb(114, 0, 221);
}


footer {
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0px;
    width: 100vw;
    background-color: rgb(11, 55, 85);
    z-index: 10;
}

#contact {
    display: flex;
    justify-content: center;
    font-family: Doto, 'Times New Roman', Times, serif;
}

.button1 {
    border: 0;
    background-color: rgb(11, 55, 85);
    border-radius: 5px;
}

.button1:hover {
    background-color: rgb(9, 98, 151);
    box-shadow: inset;
}